<div id="header_container" class="container-fluid">
<header class="d-flex flex-wrap justify-content-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="../../assets/logoIU.png" alt="Inat Unit transparent logo."/>
    </a>
    <ul class="nav">
        <li class="nav-item"> <a [routerLink]="['/home']" class="nav-link">Home</a></li>
        <li class="nav-item"> <a [routerLink]="['/about']" class="nav-link">About</a></li>
        <li class="nav-item"> <a [routerLink]="['/merch']" class="nav-link">Merch</a></li>
        <li class="nav-item"> <a [routerLink]="['/cart']" class="nav-link bi bi-cart3"></a></li>
    </ul>
</header>
    <app-cart></app-cart>
</div>