
<div class="row mx-3 d-flex">
    <div class="col-4">
        <form action="" id="filterForm">
            <div class="input-group mb-3">
                <span class="input-group-text bi bi-filter"></span>
                <input name="priceFilter" type="text" class="form-control" placeholder="Price lesser than" [(ngModel)]="priceFilter" >
                <span class="input-group-text">&euro;</span>
            </div>
        </form>
        <form action="" id="randomOrder">
            <div class="input-group mb-3">
                <button type="button" (click)="shuffleArray(products)" class="btn btn-info">Random order</button>
            </div>
        </form>
    </div>
</div>

<div class="row px-2 mx-1">
    <div *ngFor="let product of products | filter:priceFilter" class="card m-2 p-0 border-light">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="../../assets/importPic.png" class="card-img-top" alt="">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title" #productTitle>{{ product.title }}</h3>
                    <div>
                        <p class="card-text" #productDescription>{{ product.description }}</p>
                        <h4 class="text-end" #productPrice>{{ product.price }} &euro;</h4>
                        <button type="button" (click)="removeProduct(productTitle,productPrice)" class="btn btn-danger ms-2">Remove</button>
                        <button type="button" class="btn btn-info ms-2" (click)="onEdit()">Edit</button>
                        <div class="my-2" id="" *ngIf="display">
                            <div class="card p-0">
                                <h4 class="card-header">Edit</h4>
                                <div class="card-body">
                                    <form action="" id="addProduct" #editProductForm>
                                        <div class="mb-3">
                                            <label for="productTitle" class="form-label">Title</label>
                                            <input id="productTitle" type="text" class="form-control" #editTitle>
                                        </div>
                                        <div class="mb-3">
                                            <label for="productWeight" class="form-label">Weight</label>
                                            <input id="productWeight" type="text" class="form-control" #editWeight>
                                        </div>
                                        <div class="mb-3">
                                            <label for="productPrice" class="form-label">Price</label>
                                            <input id="productPrice" type="text" class="form-control" #editPrice>
                                        </div>
                                        <div class="mb-3">
                                            <label for="productDescription" class="form-label">Description</label>
                                            <textarea id="productDescription" class="form-control" #editDescription></textarea>
                                        </div>
                                        <div class="d-grid justify-content-end">
                                            <button type="button"
                                                (click)="editProduct(editTitle,editDescription,editWeight,editPrice,productTitle,productPrice,productDescription);clearForm(editProductForm)"
                                                class="btn btn-success">
                                                Confirm </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary ms-2" (click)="onAddToCart(productTitle,productPrice)">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>